body{
    background-color: aquamarine;
}

head{
    background-color: chocolate;
}

h1{
    background-color: rgb(230, 106, 88);
    height: 60px;
    padding: 15px;
}

.btn{
    width: 350px;
    height: 50xp;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow:
        inset 2px 2px 3px rgba(255, 255, 255, 0.6),
        inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}


#input{
    width: 20%;
    padding: 12px 20px;
    box-sizing: border-box;
}

#output1{
    color: rgb(0, 0, 0);
    font-size: 250%;
}

#table{
    width: 60%; 
    margin-left: 25px;
}

h3 {
    margin-left: 350px;
    width: 870px;
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    border-bottom: 2px solid black;
}